<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>
    <table th:fragment="jobfragment" class="job-listing">

        <tr>
            <td>ID:</td><td th:text="${jobCategory.id}"></td>
        </tr>
        <tr>
            <td>Name:</td><td th:utext="${jobCategory.name}"></td><br/>
        </tr>
        <tr>
            <td>Employer:</td><td th:text="${jobCategory.employer}"></td>
        </tr>
        <tr>
            <td>Location:</td><td th:text="${jobCategory.location}"></td>
        </tr>
        <tr>
            <td>PositionType:</td><td th:text="${jobCategory.positionType}"></td>
        </tr>
        <tr>
            <td>Skill:</td><td th:text="${jobCategory.coreCompetency}"></td>
        </tr>

    </table>
<div th:fragment="searchfragment">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />
</div>



</body>
</html>